--
-- PostgreSQL database dump
--

\restrict cvTYUIg3hX3E6KkwCJdYsEC3xdczzg7nDgmpurJnTtX1bd1FZScDbVlfVYApGSE

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO mes_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO mes_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO mes_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO mes_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_clockedschedule; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.django_celery_beat_clockedschedule (
    id integer NOT NULL,
    clocked_time timestamp with time zone NOT NULL
);


ALTER TABLE public.django_celery_beat_clockedschedule OWNER TO mes_user;

--
-- Name: django_celery_beat_clockedschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.django_celery_beat_clockedschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_clockedschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_crontabschedule; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.django_celery_beat_crontabschedule (
    id integer NOT NULL,
    minute character varying(240) NOT NULL,
    hour character varying(96) NOT NULL,
    day_of_week character varying(64) NOT NULL,
    day_of_month character varying(124) NOT NULL,
    month_of_year character varying(64) NOT NULL,
    timezone character varying(63) NOT NULL
);


ALTER TABLE public.django_celery_beat_crontabschedule OWNER TO mes_user;

--
-- Name: django_celery_beat_crontabschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.django_celery_beat_crontabschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_crontabschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_intervalschedule; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.django_celery_beat_intervalschedule (
    id integer NOT NULL,
    every integer NOT NULL,
    period character varying(24) NOT NULL
);


ALTER TABLE public.django_celery_beat_intervalschedule OWNER TO mes_user;

--
-- Name: django_celery_beat_intervalschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.django_celery_beat_intervalschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_intervalschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_periodictask; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.django_celery_beat_periodictask (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    task character varying(200) NOT NULL,
    args text NOT NULL,
    kwargs text NOT NULL,
    queue character varying(200),
    exchange character varying(200),
    routing_key character varying(200),
    expires timestamp with time zone,
    enabled boolean NOT NULL,
    last_run_at timestamp with time zone,
    total_run_count integer NOT NULL,
    date_changed timestamp with time zone NOT NULL,
    description text NOT NULL,
    crontab_id integer,
    interval_id integer,
    solar_id integer,
    one_off boolean NOT NULL,
    start_time timestamp with time zone,
    priority integer,
    headers text NOT NULL,
    clocked_id integer,
    expire_seconds integer,
    CONSTRAINT django_celery_beat_periodictask_expire_seconds_check CHECK ((expire_seconds >= 0)),
    CONSTRAINT django_celery_beat_periodictask_priority_check CHECK ((priority >= 0)),
    CONSTRAINT django_celery_beat_periodictask_total_run_count_check CHECK ((total_run_count >= 0))
);


ALTER TABLE public.django_celery_beat_periodictask OWNER TO mes_user;

--
-- Name: django_celery_beat_periodictask_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.django_celery_beat_periodictask ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_periodictask_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_periodictasks; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.django_celery_beat_periodictasks (
    ident smallint NOT NULL,
    last_update timestamp with time zone NOT NULL
);


ALTER TABLE public.django_celery_beat_periodictasks OWNER TO mes_user;

--
-- Name: django_celery_beat_solarschedule; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.django_celery_beat_solarschedule (
    id integer NOT NULL,
    event character varying(24) NOT NULL,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL
);


ALTER TABLE public.django_celery_beat_solarschedule OWNER TO mes_user;

--
-- Name: django_celery_beat_solarschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.django_celery_beat_solarschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_solarschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_chordcounter; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.django_celery_results_chordcounter (
    id integer NOT NULL,
    group_id character varying(255) NOT NULL,
    sub_tasks text NOT NULL,
    count integer NOT NULL,
    CONSTRAINT django_celery_results_chordcounter_count_check CHECK ((count >= 0))
);


ALTER TABLE public.django_celery_results_chordcounter OWNER TO mes_user;

--
-- Name: django_celery_results_chordcounter_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.django_celery_results_chordcounter ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_chordcounter_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_groupresult; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.django_celery_results_groupresult (
    id integer NOT NULL,
    group_id character varying(255) NOT NULL,
    date_created timestamp with time zone NOT NULL,
    date_done timestamp with time zone NOT NULL,
    content_type character varying(128) NOT NULL,
    content_encoding character varying(64) NOT NULL,
    result text
);


ALTER TABLE public.django_celery_results_groupresult OWNER TO mes_user;

--
-- Name: django_celery_results_groupresult_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.django_celery_results_groupresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_groupresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_results_taskresult; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.django_celery_results_taskresult (
    id integer NOT NULL,
    task_id character varying(255) NOT NULL,
    status character varying(50) NOT NULL,
    content_type character varying(128) NOT NULL,
    content_encoding character varying(64) NOT NULL,
    result text,
    date_done timestamp with time zone NOT NULL,
    traceback text,
    meta text,
    task_args text,
    task_kwargs text,
    task_name character varying(255),
    worker character varying(100),
    date_created timestamp with time zone NOT NULL,
    periodic_task_name character varying(255)
);


ALTER TABLE public.django_celery_results_taskresult OWNER TO mes_user;

--
-- Name: django_celery_results_taskresult_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.django_celery_results_taskresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_results_taskresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO mes_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO mes_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO mes_user;

--
-- Name: identity_user; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.identity_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    employee_id character varying(20) NOT NULL,
    plant character varying(100) NOT NULL,
    preferred_language character varying(10) NOT NULL,
    preferred_theme character varying(10) NOT NULL,
    avatar character varying(100),
    last_login_at timestamp with time zone,
    timezone character varying(60) NOT NULL
);


ALTER TABLE public.identity_user OWNER TO mes_user;

--
-- Name: identity_user_groups; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.identity_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.identity_user_groups OWNER TO mes_user;

--
-- Name: identity_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.identity_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.identity_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: identity_user_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.identity_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.identity_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: identity_user_user_permissions; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.identity_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.identity_user_user_permissions OWNER TO mes_user;

--
-- Name: identity_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.identity_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.identity_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: permissions_permission; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.permissions_permission (
    id bigint NOT NULL,
    key character varying(100) NOT NULL,
    module character varying(50) NOT NULL,
    action character varying(50) NOT NULL,
    description character varying(200) NOT NULL
);


ALTER TABLE public.permissions_permission OWNER TO mes_user;

--
-- Name: permissions_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.permissions_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.permissions_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: permissions_role; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.permissions_role (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(100) NOT NULL,
    description character varying(200) NOT NULL,
    is_system boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.permissions_role OWNER TO mes_user;

--
-- Name: permissions_role_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.permissions_role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.permissions_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: permissions_rolepermission; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.permissions_rolepermission (
    id bigint NOT NULL,
    permission_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.permissions_rolepermission OWNER TO mes_user;

--
-- Name: permissions_rolepermission_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.permissions_rolepermission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.permissions_rolepermission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: permissions_userpermissionoverride; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.permissions_userpermissionoverride (
    id bigint NOT NULL,
    override_type character varying(10) NOT NULL,
    permission_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.permissions_userpermissionoverride OWNER TO mes_user;

--
-- Name: permissions_userpermissionoverride_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.permissions_userpermissionoverride ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.permissions_userpermissionoverride_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: permissions_userrole; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.permissions_userrole (
    id bigint NOT NULL,
    role_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.permissions_userrole OWNER TO mes_user;

--
-- Name: permissions_userrole_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.permissions_userrole ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.permissions_userrole_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: production_attendance_record; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.production_attendance_record (
    id bigint NOT NULL,
    date date NOT NULL,
    status character varying(20) NOT NULL,
    shift character varying(20) NOT NULL,
    hours numeric(4,1) NOT NULL,
    recorded_at timestamp with time zone NOT NULL,
    recorded_by_id bigint,
    employee_id bigint NOT NULL
);


ALTER TABLE public.production_attendance_record OWNER TO mes_user;

--
-- Name: production_attendance_record_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.production_attendance_record ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.production_attendance_record_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: production_business_unit; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.production_business_unit (
    id bigint NOT NULL,
    code character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.production_business_unit OWNER TO mes_user;

--
-- Name: production_business_unit_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.production_business_unit ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.production_business_unit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: production_earned_hours_record; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.production_earned_hours_record (
    id bigint NOT NULL,
    date date NOT NULL,
    earned_hours numeric(7,1) NOT NULL,
    notes character varying(200) NOT NULL,
    recorded_at timestamp with time zone NOT NULL,
    recorded_by_id bigint
);


ALTER TABLE public.production_earned_hours_record OWNER TO mes_user;

--
-- Name: production_earned_hours_record_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.production_earned_hours_record ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.production_earned_hours_record_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: production_oee_record; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.production_oee_record (
    id bigint NOT NULL,
    date date NOT NULL,
    availability_pct numeric(5,2) NOT NULL,
    performance_pct numeric(5,2) NOT NULL,
    quality_pct numeric(5,2) NOT NULL,
    oee_pct numeric(5,2) NOT NULL,
    recorded_at timestamp with time zone NOT NULL,
    recorded_by_id bigint
);


ALTER TABLE public.production_oee_record OWNER TO mes_user;

--
-- Name: production_oee_record_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.production_oee_record ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.production_oee_record_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: production_plant_employee; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.production_plant_employee (
    id bigint NOT NULL,
    name character varying(150) NOT NULL,
    department character varying(100) NOT NULL,
    turno character varying(1) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint
);


ALTER TABLE public.production_plant_employee OWNER TO mes_user;

--
-- Name: production_plant_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.production_plant_employee ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.production_plant_employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: production_safety_incident; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.production_safety_incident (
    id bigint NOT NULL,
    incident_date date NOT NULL,
    incident_type character varying(30) NOT NULL,
    severity character varying(20) NOT NULL,
    area character varying(100) NOT NULL,
    description text NOT NULL,
    immediate_actions text NOT NULL,
    root_cause character varying(100) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    reported_by_id bigint
);


ALTER TABLE public.production_safety_incident OWNER TO mes_user;

--
-- Name: production_safety_incident_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.production_safety_incident ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.production_safety_incident_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: production_safety_settings; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.production_safety_settings (
    id bigint NOT NULL,
    plant character varying(100) NOT NULL,
    days_without_incident integer NOT NULL,
    last_incident_date date,
    updated_at timestamp with time zone NOT NULL,
    updated_by_id bigint
);


ALTER TABLE public.production_safety_settings OWNER TO mes_user;

--
-- Name: production_safety_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.production_safety_settings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.production_safety_settings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: production_weekly_target; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.production_weekly_target (
    id bigint NOT NULL,
    week_start date NOT NULL,
    general_target integer NOT NULL,
    monday integer,
    tuesday integer,
    wednesday integer,
    thursday integer,
    friday integer,
    saturday integer,
    sunday integer,
    updated_at timestamp with time zone NOT NULL,
    business_unit_id bigint NOT NULL,
    updated_by_id bigint
);


ALTER TABLE public.production_weekly_target OWNER TO mes_user;

--
-- Name: production_weekly_target_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.production_weekly_target ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.production_weekly_target_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: production_weekly_wip; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.production_weekly_wip (
    id bigint NOT NULL,
    week_start date NOT NULL,
    general_actual integer NOT NULL,
    general_goal integer NOT NULL,
    monday_actual integer,
    monday_goal integer,
    tuesday_actual integer,
    tuesday_goal integer,
    wednesday_actual integer,
    wednesday_goal integer,
    thursday_actual integer,
    thursday_goal integer,
    friday_actual integer,
    friday_goal integer,
    saturday_actual integer,
    saturday_goal integer,
    sunday_actual integer,
    sunday_goal integer,
    updated_at timestamp with time zone NOT NULL,
    business_unit_id bigint NOT NULL,
    updated_by_id bigint
);


ALTER TABLE public.production_weekly_wip OWNER TO mes_user;

--
-- Name: production_weekly_wip_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.production_weekly_wip ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.production_weekly_wip_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO mes_user;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: mes_user
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id bigint,
    jti character varying(255) NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO mes_user;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: mes_user
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: mes_user
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2026-03-09 15:24:00.850259+00	4	14458 ΓÇö Administrador MES	1	[{"added": {}}]	15	2
\.


--
-- Data for Name: django_celery_beat_clockedschedule; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.django_celery_beat_clockedschedule (id, clocked_time) FROM stdin;
\.


--
-- Data for Name: django_celery_beat_crontabschedule; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.django_celery_beat_crontabschedule (id, minute, hour, day_of_week, day_of_month, month_of_year, timezone) FROM stdin;
1	0	4	*	*	*	America/Monterrey
\.


--
-- Data for Name: django_celery_beat_intervalschedule; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.django_celery_beat_intervalschedule (id, every, period) FROM stdin;
\.


--
-- Data for Name: django_celery_beat_periodictask; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.django_celery_beat_periodictask (id, name, task, args, kwargs, queue, exchange, routing_key, expires, enabled, last_run_at, total_run_count, date_changed, description, crontab_id, interval_id, solar_id, one_off, start_time, priority, headers, clocked_id, expire_seconds) FROM stdin;
1	celery.backend_cleanup	celery.backend_cleanup	[]	{}	\N	\N	\N	\N	t	2026-03-31 10:07:55.781504+00	8	2026-03-31 10:10:51.294324+00		1	\N	\N	f	\N	\N	{}	\N	43200
\.


--
-- Data for Name: django_celery_beat_periodictasks; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.django_celery_beat_periodictasks (ident, last_update) FROM stdin;
1	2026-03-30 21:55:03.741518+00
\.


--
-- Data for Name: django_celery_beat_solarschedule; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.django_celery_beat_solarschedule (id, event, latitude, longitude) FROM stdin;
\.


--
-- Data for Name: django_celery_results_chordcounter; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.django_celery_results_chordcounter (id, group_id, sub_tasks, count) FROM stdin;
\.


--
-- Data for Name: django_celery_results_groupresult; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.django_celery_results_groupresult (id, group_id, date_created, date_done, content_type, content_encoding, result) FROM stdin;
\.


--
-- Data for Name: django_celery_results_taskresult; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.django_celery_results_taskresult (id, task_id, status, content_type, content_encoding, result, date_done, traceback, meta, task_args, task_kwargs, task_name, worker, date_created, periodic_task_name) FROM stdin;
7	a4add489-31c8-4faf-8c47-7cbcd302ed86	SUCCESS	application/json	utf-8	null	2026-03-30 21:55:06.109656+00	\N	{"children": []}	\N	\N	\N	\N	2026-03-30 21:55:05.979706+00	\N
8	9d3df42c-57bb-4fea-9768-41b34a14aac9	SUCCESS	application/json	utf-8	null	2026-03-31 10:07:57.536608+00	\N	{"children": []}	\N	\N	\N	\N	2026-03-31 10:07:57.409794+00	\N
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: mes_user
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: mes_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
3sekao9yzuisphlz8grmn4wlhnlfcenz	.eJxVjEEOgjAQRe_StWmYFurUpXvOQGY6U4saSCisjHdXEha6_e-9_zIDbWsZtqrLMIq5GGdOvxtTeui0A7nTdJttmqd1Gdnuij1otf0s-rwe7t9BoVq-NXrIbXDUoqNOWFrIUWNESeDZcUgIgBBYO0xnjtE3nYL6SA1DwCzm_QHYKDeu:1vxwQZ:qOsK6pqQwVw33cv2JsRqRF_aia6AowNzdoDqjt_uf60	2026-03-19 00:18:55.385248+00
\.


--
-- Data for Name: identity_user; Type: TABLE DATA; Schema: public; Owner: mes_user
--



--
-- Data for Name: identity_user_groups; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.identity_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: identity_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.identity_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: permissions_permission; Type: TABLE DATA; Schema: public; Owner: mes_user
--



--
-- Data for Name: permissions_role; Type: TABLE DATA; Schema: public; Owner: mes_user
--



--
-- Data for Name: permissions_rolepermission; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.permissions_rolepermission (id, permission_id, role_id) FROM stdin;
1	9	1
2	2	1
3	1	1
4	5	1
5	13	1
6	10	2
7	11	2
8	9	2
9	2	2
10	3	2
11	1	2
12	6	2
13	7	2
14	5	2
15	14	2
16	15	2
17	13	2
18	1	3
19	6	3
20	7	3
21	5	3
26	10	5
27	11	5
28	9	5
29	1	5
30	1	6
31	14	6
32	15	6
33	13	6
34	18	7
35	20	7
36	19	7
37	17	7
38	10	7
39	12	7
40	11	7
41	9	7
42	2	7
43	4	7
44	3	7
45	1	7
46	6	7
47	8	7
48	7	7
49	5	7
50	14	7
51	16	7
52	15	7
53	13	7
54	17	8
55	9	8
56	1	8
57	5	8
58	13	8
59	2	4
60	3	4
61	1	4
62	5	4
63	13	4
\.


--
-- Data for Name: permissions_userpermissionoverride; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.permissions_userpermissionoverride (id, override_type, permission_id, user_id) FROM stdin;
\.


--
-- Data for Name: permissions_userrole; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.permissions_userrole (id, role_id, user_id) FROM stdin;
1	1	1
2	7	4
4	7	2
5	1	5
8	3	6
9	4	7
10	1	8
11	6	3
12	4	3
\.


--
-- Data for Name: production_attendance_record; Type: TABLE DATA; Schema: public; Owner: mes_user
--



--
-- Data for Name: production_business_unit; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.production_business_unit (id, code, name, is_active) FROM stdin;
1	volvo	Volvo	t
2	cummins	Cummins	t
3	tulc	TULC	t
\.


--
-- Data for Name: production_earned_hours_record; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.production_earned_hours_record (id, date, earned_hours, notes, recorded_at, recorded_by_id) FROM stdin;
1	2026-04-06	300.0		2026-04-06 16:29:40.556135+00	2
2	2026-04-01	320.0		2026-04-06 17:38:48.459833+00	2
\.


--
-- Data for Name: production_oee_record; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.production_oee_record (id, date, availability_pct, performance_pct, quality_pct, oee_pct, recorded_at, recorded_by_id) FROM stdin;
2	2026-04-01	80.00	80.00	80.00	80.00	2026-04-06 16:27:12.895415+00	2
1	2026-04-02	80.00	70.00	100.00	85.00	2026-04-06 23:14:02.076409+00	2
3	2026-04-03	54.00	78.00	57.00	56.00	2026-04-06 23:14:21.455405+00	2
4	2026-04-04	14.00	74.00	41.00	57.00	2026-04-06 23:14:43.763803+00	2
5	2026-04-05	45.00	25.00	71.00	68.00	2026-04-06 23:15:02.09075+00	2
6	2026-04-06	47.00	85.00	45.00	25.00	2026-04-06 23:15:15.78449+00	2
\.


--
-- Data for Name: production_plant_employee; Type: TABLE DATA; Schema: public; Owner: mes_user
--



--
-- Data for Name: production_safety_incident; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.production_safety_incident (id, incident_date, incident_type, severity, area, description, immediate_actions, root_cause, status, created_at, updated_at, reported_by_id) FROM stdin;
1	2026-01-01	near_miss	low	Other	Ejemplo			closed	2026-03-31 00:30:32.140164+00	2026-03-31 00:30:54.556962+00	2
\.


--
-- Data for Name: production_safety_settings; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.production_safety_settings (id, plant, days_without_incident, last_incident_date, updated_at, updated_by_id) FROM stdin;
1	Tijuana	88	2026-01-01	2026-03-31 00:30:43.420222+00	2
\.


--
-- Data for Name: production_weekly_target; Type: TABLE DATA; Schema: public; Owner: mes_user
--

COPY public.production_weekly_target (id, week_start, general_target, monday, tuesday, wednesday, thursday, friday, saturday, sunday, updated_at, business_unit_id, updated_by_id) FROM stdin;
2	2026-03-23	400	400	400	400	400	400	400	400	2026-03-31 00:22:33.40536+00	1	2
1	2026-03-23	300	300	300	300	300	300	300	300	2026-03-31 00:22:38.747166+00	2	2
4	2026-03-30	400	50	400	400	50	400	400	400	2026-04-01 00:23:00.84446+00	1	2
3	2026-03-30	200	200	200	200	200	200	200	200	2026-04-01 00:48:38.10783+00	2	2
\.


--
-- Data for Name: production_weekly_wip; Type: TABLE DATA; Schema: public; Owner: mes_user
--



--
-- Data for Name: token_blacklist_blacklistedtoken; Type: TABLE DATA; Schema: public; Owner: mes_user
--



--
-- Data for Name: token_blacklist_outstandingtoken; Type: TABLE DATA; Schema: public; Owner: mes_user
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 124, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, true);


--
-- Name: django_celery_beat_clockedschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.django_celery_beat_clockedschedule_id_seq', 1, false);


--
-- Name: django_celery_beat_crontabschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.django_celery_beat_crontabschedule_id_seq', 1, true);


--
-- Name: django_celery_beat_intervalschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.django_celery_beat_intervalschedule_id_seq', 1, false);


--
-- Name: django_celery_beat_periodictask_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.django_celery_beat_periodictask_id_seq', 1, true);


--
-- Name: django_celery_beat_solarschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.django_celery_beat_solarschedule_id_seq', 1, false);


--
-- Name: django_celery_results_chordcounter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.django_celery_results_chordcounter_id_seq', 1, false);


--
-- Name: django_celery_results_groupresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.django_celery_results_groupresult_id_seq', 1, false);


--
-- Name: django_celery_results_taskresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.django_celery_results_taskresult_id_seq', 8, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 31, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 73, true);


--
-- Name: identity_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.identity_user_groups_id_seq', 1, false);


--
-- Name: identity_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.identity_user_id_seq', 8, true);


--
-- Name: identity_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.identity_user_user_permissions_id_seq', 1, false);


--
-- Name: permissions_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.permissions_permission_id_seq', 20, true);


--
-- Name: permissions_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.permissions_role_id_seq', 8, true);


--
-- Name: permissions_rolepermission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.permissions_rolepermission_id_seq', 63, true);


--
-- Name: permissions_userpermissionoverride_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.permissions_userpermissionoverride_id_seq', 1, false);


--
-- Name: permissions_userrole_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.permissions_userrole_id_seq', 12, true);


--
-- Name: production_attendance_record_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.production_attendance_record_id_seq', 120, true);


--
-- Name: production_business_unit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.production_business_unit_id_seq', 3, true);


--
-- Name: production_earned_hours_record_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.production_earned_hours_record_id_seq', 2, true);


--
-- Name: production_oee_record_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.production_oee_record_id_seq', 6, true);


--
-- Name: production_plant_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.production_plant_employee_id_seq', 31, true);


--
-- Name: production_safety_incident_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.production_safety_incident_id_seq', 1, true);


--
-- Name: production_safety_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.production_safety_settings_id_seq', 1, true);


--
-- Name: production_weekly_target_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.production_weekly_target_id_seq', 4, true);


--
-- Name: production_weekly_wip_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.production_weekly_wip_id_seq', 4, true);


--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.token_blacklist_blacklistedtoken_id_seq', 21, true);


--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mes_user
--

SELECT pg_catalog.setval('public.token_blacklist_outstandingtoken_id_seq', 72, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_clockedschedule django_celery_beat_clockedschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_beat_clockedschedule
    ADD CONSTRAINT django_celery_beat_clockedschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_crontabschedule django_celery_beat_crontabschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_beat_crontabschedule
    ADD CONSTRAINT django_celery_beat_crontabschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_intervalschedule django_celery_beat_intervalschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_beat_intervalschedule
    ADD CONSTRAINT django_celery_beat_intervalschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_periodictask django_celery_beat_periodictask_name_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_periodictask_name_key UNIQUE (name);


--
-- Name: django_celery_beat_periodictask django_celery_beat_periodictask_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_periodictask_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_periodictasks django_celery_beat_periodictasks_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_beat_periodictasks
    ADD CONSTRAINT django_celery_beat_periodictasks_pkey PRIMARY KEY (ident);


--
-- Name: django_celery_beat_solarschedule django_celery_beat_solar_event_latitude_longitude_ba64999a_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_beat_solarschedule
    ADD CONSTRAINT django_celery_beat_solar_event_latitude_longitude_ba64999a_uniq UNIQUE (event, latitude, longitude);


--
-- Name: django_celery_beat_solarschedule django_celery_beat_solarschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_beat_solarschedule
    ADD CONSTRAINT django_celery_beat_solarschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_chordcounter django_celery_results_chordcounter_group_id_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_results_chordcounter
    ADD CONSTRAINT django_celery_results_chordcounter_group_id_key UNIQUE (group_id);


--
-- Name: django_celery_results_chordcounter django_celery_results_chordcounter_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_results_chordcounter
    ADD CONSTRAINT django_celery_results_chordcounter_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_groupresult django_celery_results_groupresult_group_id_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_results_groupresult
    ADD CONSTRAINT django_celery_results_groupresult_group_id_key UNIQUE (group_id);


--
-- Name: django_celery_results_groupresult django_celery_results_groupresult_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_results_groupresult
    ADD CONSTRAINT django_celery_results_groupresult_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_taskresult django_celery_results_taskresult_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_results_taskresult
    ADD CONSTRAINT django_celery_results_taskresult_pkey PRIMARY KEY (id);


--
-- Name: django_celery_results_taskresult django_celery_results_taskresult_task_id_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_results_taskresult
    ADD CONSTRAINT django_celery_results_taskresult_task_id_key UNIQUE (task_id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: identity_user identity_user_employee_id_57931d20_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.identity_user
    ADD CONSTRAINT identity_user_employee_id_57931d20_uniq UNIQUE (employee_id);


--
-- Name: identity_user_groups identity_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.identity_user_groups
    ADD CONSTRAINT identity_user_groups_pkey PRIMARY KEY (id);


--
-- Name: identity_user_groups identity_user_groups_user_id_group_id_ece29599_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.identity_user_groups
    ADD CONSTRAINT identity_user_groups_user_id_group_id_ece29599_uniq UNIQUE (user_id, group_id);


--
-- Name: identity_user identity_user_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.identity_user
    ADD CONSTRAINT identity_user_pkey PRIMARY KEY (id);


--
-- Name: identity_user_user_permissions identity_user_user_permi_user_id_permission_id_1becc26c_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.identity_user_user_permissions
    ADD CONSTRAINT identity_user_user_permi_user_id_permission_id_1becc26c_uniq UNIQUE (user_id, permission_id);


--
-- Name: identity_user_user_permissions identity_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.identity_user_user_permissions
    ADD CONSTRAINT identity_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: permissions_permission permissions_permission_key_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_permission
    ADD CONSTRAINT permissions_permission_key_key UNIQUE (key);


--
-- Name: permissions_permission permissions_permission_module_action_d4fafe0e_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_permission
    ADD CONSTRAINT permissions_permission_module_action_d4fafe0e_uniq UNIQUE (module, action);


--
-- Name: permissions_permission permissions_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_permission
    ADD CONSTRAINT permissions_permission_pkey PRIMARY KEY (id);


--
-- Name: permissions_role permissions_role_name_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_role
    ADD CONSTRAINT permissions_role_name_key UNIQUE (name);


--
-- Name: permissions_role permissions_role_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_role
    ADD CONSTRAINT permissions_role_pkey PRIMARY KEY (id);


--
-- Name: permissions_role permissions_role_slug_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_role
    ADD CONSTRAINT permissions_role_slug_key UNIQUE (slug);


--
-- Name: permissions_rolepermission permissions_rolepermission_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_rolepermission
    ADD CONSTRAINT permissions_rolepermission_pkey PRIMARY KEY (id);


--
-- Name: permissions_rolepermission permissions_rolepermission_role_id_permission_id_4f7ae296_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_rolepermission
    ADD CONSTRAINT permissions_rolepermission_role_id_permission_id_4f7ae296_uniq UNIQUE (role_id, permission_id);


--
-- Name: permissions_userpermissionoverride permissions_userpermissi_user_id_permission_id_e2d6eabe_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_userpermissionoverride
    ADD CONSTRAINT permissions_userpermissi_user_id_permission_id_e2d6eabe_uniq UNIQUE (user_id, permission_id);


--
-- Name: permissions_userpermissionoverride permissions_userpermissionoverride_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_userpermissionoverride
    ADD CONSTRAINT permissions_userpermissionoverride_pkey PRIMARY KEY (id);


--
-- Name: permissions_userrole permissions_userrole_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_userrole
    ADD CONSTRAINT permissions_userrole_pkey PRIMARY KEY (id);


--
-- Name: permissions_userrole permissions_userrole_user_id_role_id_b2ca302f_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_userrole
    ADD CONSTRAINT permissions_userrole_user_id_role_id_b2ca302f_uniq UNIQUE (user_id, role_id);


--
-- Name: production_attendance_record production_attendance_record_employee_id_date_97b5c097_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_attendance_record
    ADD CONSTRAINT production_attendance_record_employee_id_date_97b5c097_uniq UNIQUE (employee_id, date);


--
-- Name: production_attendance_record production_attendance_record_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_attendance_record
    ADD CONSTRAINT production_attendance_record_pkey PRIMARY KEY (id);


--
-- Name: production_business_unit production_business_unit_code_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_business_unit
    ADD CONSTRAINT production_business_unit_code_key UNIQUE (code);


--
-- Name: production_business_unit production_business_unit_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_business_unit
    ADD CONSTRAINT production_business_unit_pkey PRIMARY KEY (id);


--
-- Name: production_earned_hours_record production_earned_hours_record_date_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_earned_hours_record
    ADD CONSTRAINT production_earned_hours_record_date_key UNIQUE (date);


--
-- Name: production_earned_hours_record production_earned_hours_record_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_earned_hours_record
    ADD CONSTRAINT production_earned_hours_record_pkey PRIMARY KEY (id);


--
-- Name: production_oee_record production_oee_record_date_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_oee_record
    ADD CONSTRAINT production_oee_record_date_key UNIQUE (date);


--
-- Name: production_oee_record production_oee_record_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_oee_record
    ADD CONSTRAINT production_oee_record_pkey PRIMARY KEY (id);


--
-- Name: production_plant_employee production_plant_employee_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_plant_employee
    ADD CONSTRAINT production_plant_employee_pkey PRIMARY KEY (id);


--
-- Name: production_plant_employee production_plant_employee_user_id_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_plant_employee
    ADD CONSTRAINT production_plant_employee_user_id_key UNIQUE (user_id);


--
-- Name: production_safety_incident production_safety_incident_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_safety_incident
    ADD CONSTRAINT production_safety_incident_pkey PRIMARY KEY (id);


--
-- Name: production_safety_settings production_safety_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_safety_settings
    ADD CONSTRAINT production_safety_settings_pkey PRIMARY KEY (id);


--
-- Name: production_safety_settings production_safety_settings_plant_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_safety_settings
    ADD CONSTRAINT production_safety_settings_plant_key UNIQUE (plant);


--
-- Name: production_weekly_target production_weekly_target_business_unit_id_week_st_6f935af1_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_weekly_target
    ADD CONSTRAINT production_weekly_target_business_unit_id_week_st_6f935af1_uniq UNIQUE (business_unit_id, week_start);


--
-- Name: production_weekly_target production_weekly_target_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_weekly_target
    ADD CONSTRAINT production_weekly_target_pkey PRIMARY KEY (id);


--
-- Name: production_weekly_wip production_weekly_wip_business_unit_id_week_start_34755d11_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_weekly_wip
    ADD CONSTRAINT production_weekly_wip_business_unit_id_week_start_34755d11_uniq UNIQUE (business_unit_id, week_start);


--
-- Name: production_weekly_wip production_weekly_wip_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_weekly_wip
    ADD CONSTRAINT production_weekly_wip_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_cele_date_cr_bd6c1d_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_cele_date_cr_bd6c1d_idx ON public.django_celery_results_groupresult USING btree (date_created);


--
-- Name: django_cele_date_cr_f04a50_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_cele_date_cr_f04a50_idx ON public.django_celery_results_taskresult USING btree (date_created);


--
-- Name: django_cele_date_do_caae0e_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_cele_date_do_caae0e_idx ON public.django_celery_results_groupresult USING btree (date_done);


--
-- Name: django_cele_date_do_f59aad_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_cele_date_do_f59aad_idx ON public.django_celery_results_taskresult USING btree (date_done);


--
-- Name: django_cele_status_9b6201_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_cele_status_9b6201_idx ON public.django_celery_results_taskresult USING btree (status);


--
-- Name: django_cele_task_na_08aec9_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_cele_task_na_08aec9_idx ON public.django_celery_results_taskresult USING btree (task_name);


--
-- Name: django_cele_worker_d54dd8_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_cele_worker_d54dd8_idx ON public.django_celery_results_taskresult USING btree (worker);


--
-- Name: django_celery_beat_periodictask_clocked_id_47a69f82; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_celery_beat_periodictask_clocked_id_47a69f82 ON public.django_celery_beat_periodictask USING btree (clocked_id);


--
-- Name: django_celery_beat_periodictask_crontab_id_d3cba168; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_celery_beat_periodictask_crontab_id_d3cba168 ON public.django_celery_beat_periodictask USING btree (crontab_id);


--
-- Name: django_celery_beat_periodictask_interval_id_a8ca27da; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_celery_beat_periodictask_interval_id_a8ca27da ON public.django_celery_beat_periodictask USING btree (interval_id);


--
-- Name: django_celery_beat_periodictask_name_265a36b7_like; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_celery_beat_periodictask_name_265a36b7_like ON public.django_celery_beat_periodictask USING btree (name varchar_pattern_ops);


--
-- Name: django_celery_beat_periodictask_solar_id_a87ce72c; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_celery_beat_periodictask_solar_id_a87ce72c ON public.django_celery_beat_periodictask USING btree (solar_id);


--
-- Name: django_celery_results_chordcounter_group_id_1f70858c_like; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_celery_results_chordcounter_group_id_1f70858c_like ON public.django_celery_results_chordcounter USING btree (group_id varchar_pattern_ops);


--
-- Name: django_celery_results_groupresult_group_id_a085f1a9_like; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_celery_results_groupresult_group_id_a085f1a9_like ON public.django_celery_results_groupresult USING btree (group_id varchar_pattern_ops);


--
-- Name: django_celery_results_taskresult_task_id_de0d95bf_like; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_celery_results_taskresult_task_id_de0d95bf_like ON public.django_celery_results_taskresult USING btree (task_id varchar_pattern_ops);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: identity_user_employee_id_57931d20_like; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX identity_user_employee_id_57931d20_like ON public.identity_user USING btree (employee_id varchar_pattern_ops);


--
-- Name: identity_user_groups_group_id_cdb422da; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX identity_user_groups_group_id_cdb422da ON public.identity_user_groups USING btree (group_id);


--
-- Name: identity_user_groups_user_id_f69e0c80; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX identity_user_groups_user_id_f69e0c80 ON public.identity_user_groups USING btree (user_id);


--
-- Name: identity_user_user_permissions_permission_id_c8f2cf2f; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX identity_user_user_permissions_permission_id_c8f2cf2f ON public.identity_user_user_permissions USING btree (permission_id);


--
-- Name: identity_user_user_permissions_user_id_a626cb1f; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX identity_user_user_permissions_user_id_a626cb1f ON public.identity_user_user_permissions USING btree (user_id);


--
-- Name: permissions_key_bf81d9_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_key_bf81d9_idx ON public.permissions_permission USING btree (key);


--
-- Name: permissions_permiss_50f69c_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_permiss_50f69c_idx ON public.permissions_userpermissionoverride USING btree (permission_id);


--
-- Name: permissions_permiss_8f08b1_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_permiss_8f08b1_idx ON public.permissions_rolepermission USING btree (permission_id);


--
-- Name: permissions_permission_key_1c2afd0d_like; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_permission_key_1c2afd0d_like ON public.permissions_permission USING btree (key varchar_pattern_ops);


--
-- Name: permissions_role_id_3231ef_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_role_id_3231ef_idx ON public.permissions_userrole USING btree (role_id);


--
-- Name: permissions_role_id_92279b_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_role_id_92279b_idx ON public.permissions_rolepermission USING btree (role_id);


--
-- Name: permissions_role_name_99ca4283_like; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_role_name_99ca4283_like ON public.permissions_role USING btree (name varchar_pattern_ops);


--
-- Name: permissions_role_slug_95c39512_like; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_role_slug_95c39512_like ON public.permissions_role USING btree (slug varchar_pattern_ops);


--
-- Name: permissions_rolepermission_permission_id_666e62fa; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_rolepermission_permission_id_666e62fa ON public.permissions_rolepermission USING btree (permission_id);


--
-- Name: permissions_rolepermission_role_id_22d0310d; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_rolepermission_role_id_22d0310d ON public.permissions_rolepermission USING btree (role_id);


--
-- Name: permissions_user_id_8ac8c2_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_user_id_8ac8c2_idx ON public.permissions_userrole USING btree (user_id);


--
-- Name: permissions_user_id_b2abcd_idx; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_user_id_b2abcd_idx ON public.permissions_userpermissionoverride USING btree (user_id);


--
-- Name: permissions_userpermissionoverride_permission_id_202f8afe; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_userpermissionoverride_permission_id_202f8afe ON public.permissions_userpermissionoverride USING btree (permission_id);


--
-- Name: permissions_userpermissionoverride_user_id_dace110d; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_userpermissionoverride_user_id_dace110d ON public.permissions_userpermissionoverride USING btree (user_id);


--
-- Name: permissions_userrole_role_id_7928b088; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_userrole_role_id_7928b088 ON public.permissions_userrole USING btree (role_id);


--
-- Name: permissions_userrole_user_id_193dc7ca; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX permissions_userrole_user_id_193dc7ca ON public.permissions_userrole USING btree (user_id);


--
-- Name: production_attendance_record_employee_id_465e3666; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX production_attendance_record_employee_id_465e3666 ON public.production_attendance_record USING btree (employee_id);


--
-- Name: production_attendance_record_recorded_by_id_3676efdd; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX production_attendance_record_recorded_by_id_3676efdd ON public.production_attendance_record USING btree (recorded_by_id);


--
-- Name: production_business_unit_code_352568e5_like; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX production_business_unit_code_352568e5_like ON public.production_business_unit USING btree (code varchar_pattern_ops);


--
-- Name: production_earned_hours_record_recorded_by_id_10bf3d59; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX production_earned_hours_record_recorded_by_id_10bf3d59 ON public.production_earned_hours_record USING btree (recorded_by_id);


--
-- Name: production_oee_record_recorded_by_id_bedcc4bf; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX production_oee_record_recorded_by_id_bedcc4bf ON public.production_oee_record USING btree (recorded_by_id);


--
-- Name: production_safety_incident_reported_by_id_97489ae0; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX production_safety_incident_reported_by_id_97489ae0 ON public.production_safety_incident USING btree (reported_by_id);


--
-- Name: production_safety_settings_plant_6e4c7cb0_like; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX production_safety_settings_plant_6e4c7cb0_like ON public.production_safety_settings USING btree (plant varchar_pattern_ops);


--
-- Name: production_safety_settings_updated_by_id_2cc6ade3; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX production_safety_settings_updated_by_id_2cc6ade3 ON public.production_safety_settings USING btree (updated_by_id);


--
-- Name: production_weekly_target_business_unit_id_7479b297; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX production_weekly_target_business_unit_id_7479b297 ON public.production_weekly_target USING btree (business_unit_id);


--
-- Name: production_weekly_target_updated_by_id_a90eed36; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX production_weekly_target_updated_by_id_a90eed36 ON public.production_weekly_target USING btree (updated_by_id);


--
-- Name: production_weekly_wip_business_unit_id_dabbf1b2; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX production_weekly_wip_business_unit_id_dabbf1b2 ON public.production_weekly_wip USING btree (business_unit_id);


--
-- Name: production_weekly_wip_updated_by_id_e97119ef; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX production_weekly_wip_updated_by_id_e97119ef ON public.production_weekly_wip USING btree (updated_by_id);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: mes_user
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_identity_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_identity_user_id FOREIGN KEY (user_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_clocked_id_47a69f82_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_clocked_id_47a69f82_fk_django_ce FOREIGN KEY (clocked_id) REFERENCES public.django_celery_beat_clockedschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_crontab_id_d3cba168_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_crontab_id_d3cba168_fk_django_ce FOREIGN KEY (crontab_id) REFERENCES public.django_celery_beat_crontabschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_interval_id_a8ca27da_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_interval_id_a8ca27da_fk_django_ce FOREIGN KEY (interval_id) REFERENCES public.django_celery_beat_intervalschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_solar_id_a87ce72c_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_solar_id_a87ce72c_fk_django_ce FOREIGN KEY (solar_id) REFERENCES public.django_celery_beat_solarschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: identity_user_groups identity_user_groups_group_id_cdb422da_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.identity_user_groups
    ADD CONSTRAINT identity_user_groups_group_id_cdb422da_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: identity_user_groups identity_user_groups_user_id_f69e0c80_fk_identity_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.identity_user_groups
    ADD CONSTRAINT identity_user_groups_user_id_f69e0c80_fk_identity_user_id FOREIGN KEY (user_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: identity_user_user_permissions identity_user_user_p_permission_id_c8f2cf2f_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.identity_user_user_permissions
    ADD CONSTRAINT identity_user_user_p_permission_id_c8f2cf2f_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: identity_user_user_permissions identity_user_user_p_user_id_a626cb1f_fk_identity_; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.identity_user_user_permissions
    ADD CONSTRAINT identity_user_user_p_user_id_a626cb1f_fk_identity_ FOREIGN KEY (user_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: permissions_rolepermission permissions_roleperm_permission_id_666e62fa_fk_permissio; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_rolepermission
    ADD CONSTRAINT permissions_roleperm_permission_id_666e62fa_fk_permissio FOREIGN KEY (permission_id) REFERENCES public.permissions_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: permissions_rolepermission permissions_roleperm_role_id_22d0310d_fk_permissio; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_rolepermission
    ADD CONSTRAINT permissions_roleperm_role_id_22d0310d_fk_permissio FOREIGN KEY (role_id) REFERENCES public.permissions_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: permissions_userpermissionoverride permissions_userperm_permission_id_202f8afe_fk_permissio; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_userpermissionoverride
    ADD CONSTRAINT permissions_userperm_permission_id_202f8afe_fk_permissio FOREIGN KEY (permission_id) REFERENCES public.permissions_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: permissions_userpermissionoverride permissions_userperm_user_id_dace110d_fk_identity_; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_userpermissionoverride
    ADD CONSTRAINT permissions_userperm_user_id_dace110d_fk_identity_ FOREIGN KEY (user_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: permissions_userrole permissions_userrole_role_id_7928b088_fk_permissions_role_id; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_userrole
    ADD CONSTRAINT permissions_userrole_role_id_7928b088_fk_permissions_role_id FOREIGN KEY (role_id) REFERENCES public.permissions_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: permissions_userrole permissions_userrole_user_id_193dc7ca_fk_identity_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.permissions_userrole
    ADD CONSTRAINT permissions_userrole_user_id_193dc7ca_fk_identity_user_id FOREIGN KEY (user_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: production_attendance_record production_attendanc_employee_id_465e3666_fk_productio; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_attendance_record
    ADD CONSTRAINT production_attendanc_employee_id_465e3666_fk_productio FOREIGN KEY (employee_id) REFERENCES public.production_plant_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: production_attendance_record production_attendanc_recorded_by_id_3676efdd_fk_identity_; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_attendance_record
    ADD CONSTRAINT production_attendanc_recorded_by_id_3676efdd_fk_identity_ FOREIGN KEY (recorded_by_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: production_earned_hours_record production_earned_ho_recorded_by_id_10bf3d59_fk_identity_; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_earned_hours_record
    ADD CONSTRAINT production_earned_ho_recorded_by_id_10bf3d59_fk_identity_ FOREIGN KEY (recorded_by_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: production_oee_record production_oee_recor_recorded_by_id_bedcc4bf_fk_identity_; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_oee_record
    ADD CONSTRAINT production_oee_recor_recorded_by_id_bedcc4bf_fk_identity_ FOREIGN KEY (recorded_by_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: production_plant_employee production_plant_employee_user_id_3ad0ef36_fk_identity_user_id; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_plant_employee
    ADD CONSTRAINT production_plant_employee_user_id_3ad0ef36_fk_identity_user_id FOREIGN KEY (user_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: production_safety_incident production_safety_in_reported_by_id_97489ae0_fk_identity_; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_safety_incident
    ADD CONSTRAINT production_safety_in_reported_by_id_97489ae0_fk_identity_ FOREIGN KEY (reported_by_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: production_safety_settings production_safety_se_updated_by_id_2cc6ade3_fk_identity_; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_safety_settings
    ADD CONSTRAINT production_safety_se_updated_by_id_2cc6ade3_fk_identity_ FOREIGN KEY (updated_by_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: production_weekly_target production_weekly_ta_business_unit_id_7479b297_fk_productio; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_weekly_target
    ADD CONSTRAINT production_weekly_ta_business_unit_id_7479b297_fk_productio FOREIGN KEY (business_unit_id) REFERENCES public.production_business_unit(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: production_weekly_target production_weekly_ta_updated_by_id_a90eed36_fk_identity_; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_weekly_target
    ADD CONSTRAINT production_weekly_ta_updated_by_id_a90eed36_fk_identity_ FOREIGN KEY (updated_by_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: production_weekly_wip production_weekly_wi_business_unit_id_dabbf1b2_fk_productio; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_weekly_wip
    ADD CONSTRAINT production_weekly_wi_business_unit_id_dabbf1b2_fk_productio FOREIGN KEY (business_unit_id) REFERENCES public.production_business_unit(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: production_weekly_wip production_weekly_wi_updated_by_id_e97119ef_fk_identity_; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.production_weekly_wip
    ADD CONSTRAINT production_weekly_wi_updated_by_id_e97119ef_fk_identity_ FOREIGN KEY (updated_by_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outs_user_id_83bc629a_fk_identity_; Type: FK CONSTRAINT; Schema: public; Owner: mes_user
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outs_user_id_83bc629a_fk_identity_ FOREIGN KEY (user_id) REFERENCES public.identity_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict cvTYUIg3hX3E6KkwCJdYsEC3xdczzg7nDgmpurJnTtX1bd1FZScDbVlfVYApGSE

